/* ########## GLOBAL ########## */

:root {
    --button-color: #0066FF;
    --button-hovered-color: #3887fd;
    --button-pressed-color: #044dbb;
    --light-bg-color: #282828;
    --bg-color: #1a1a1a;
    --dark-bg-color: #0f0f0f;
    --header-bg-color: #001220;
    --grey: #a0a0a0;
    --standard-shadow: 0px 12px 4px 1px rgba(0, 0, 0, .3);
    --nav-height: 80px;
    --button-text-size: 18px;
    --small-button-text-size: 15px;
    --icons-size: 24px;
    --small-icons-size: 20px;
    --title-text-size: 30px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, a, h1, h2, h3 {
    font-family: 'Quicksand', 'Raleway', 'Ubuntu', 'Sans-serif';
}

.site-font {
    font-family: 'Quicksand';
}

header {
    background-color: var(--header-bg-color);
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

footer {
    background-color: var(--dark-bg-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-frame {
    display: flex;
    flex-direction: row;
}

body {
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

a {
    text-decoration: none;
    color: #DDDDDD;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
    box-shadow: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
}

.button, .nav-icon {
    position: relative;
    transition: transform 0.15s linear;
}

.button:hover, .nav-icon:hover {
    transform: translateY(-3px);
}

.button:active {
    transform: scale(0.95);
    box-shadow: inset var(--standard-shadow);
}

.button-text, .reverse-button-text, button {
    font-size: var(--button-text-size);
    color: #FFFFFF;
    padding-bottom: 3px;
}

.reverse-button-text {
    color: var(--button-color);
}

.err-box {
    color: #8b0000;
    flex-basis: 100%;
    text-align: left;
    display: block;
    margin-top: 2%;
}

.signature {
    color: var(--grey);
    transition: 0.2s linear;
    margin-right: 5%;
}

.signature:hover {
    color: #FFFFFF;
}

.signature-button {
    background-color: var(--button-color);
    color: #FFFFFF;
    transition: 0.2s linear;
    margin-right: 3%;
    padding: 0.5% 1%;
    border-radius: 10px;
}

.signature-button:hover {
    background-color: var(--button-pressed-color);
}

.block-message {
    position: relative;
    color: #BBBBBB;
    font-size: 1em;
    height: 1.5em;
}

.text-box {
    color: #808080;
    background-color: var(--bg-color);
    height: 40px;
    width: 100%;
    border-radius: inherit;
    border: 1px solid #141414;
    outline: 0;
    transition: 0.2s linear;
}



/* ########## NAVIGATION BAR ########## */

nav {
    background-color: var(--header-bg-color);
    position: sticky;
    flex-basis: 100%;
    top: 0%;
    z-index: 1;
    height: var(--nav-height);
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.15s ease-in-out;
}

.active-nav {
    box-shadow: var(--standard-shadow);
}

.nav-frame {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


/* LOGO */

.logo-frame {
    margin: -5px 0 0 7px;
}

.logo-link {
    position: relative;
    display: inline-flex;
}

.logo-frame-1 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.logo-frame-2 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 0 2px 0 2px;
}

.logo-frame-back-1 {
    background-color: var(--button-color);
    position: absolute;
    z-index: -1;
    right: 0%;
    top: 0%;
    height: 100%;
    width: 30px;
    border-radius: 10px;
    transition: all 0.2s linear;
}

.logo-frame-back-2 {
    background-color: var(--button-color);
    position: absolute;
    z-index: -1;
    right: 0%;
    top: 60%;
    height: 10px;
    width: 30px;
    border-radius: 10px;
    transition: all 0.4s linear;
}

.logo-frame-back-3 {
    background-color: var(--button-color);
    position: absolute;
    z-index: -1;
    right: 0%;
    top: 60%;
    height: 0%;
    width: 100%;
    border-radius: 10px 10px 20px 20px;
    transition: all 0.2s linear;
}

.logo-frame:hover .logo-frame-back-1 {
    height: 10px;
    top: 60%;
}

.logo-frame:not(:hover) .logo-frame-back-1 {
    transition-delay: 0.4s;
}

.logo-frame:hover .logo-frame-back-2 {
    transition-delay: 0.2s;
    width: 100%;
}

.logo-frame:hover .logo-frame-back-3 {
    transition-delay: 0.4s;
    height: 45%;
    box-shadow: inset var(--standard-shadow);
}

.logo {
    font-family: 'Quicksand', 'Raleway', 'Ubuntu', 'Sans-serif';
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s linear;
    animation: animate-letters 0.3s;
}

.logo-frame:hover .logo {
    transition-delay: 0.4s;
    text-shadow: 0px -0 10px #FFFFFF;
}

.l2 {animation-delay: 0.1s;} .l3 {animation-delay: 0.2s;} .l4 {animation-delay: 0.3s;}
.l5 {animation-delay: 0.4s;} .l6 {animation-delay: 0.5s;}

@keyframes animate-letters {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    0% { transform: translateY(0px); }
}




/* SEARCHBOX */

.searchbox-frame {
    flex-grow: 1;
    margin: 0 40px 0 40px;
    padding: 0;
    border-radius: 20px;
}

.searchbox-frame:focus-within {
    border: 2px solid var(--dark-bg-color);
}

.searchbox-form {
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    min-width: 200px;
    border-radius: inherit;
}

.searchbox-clear {
    visibility: hidden;
    position: absolute;
    font-size: var(--icons-size);
    left: 8px;
    top: 8px;
    transition: 0.2s linear;
}

.searchbox-frame:focus-within .searchbox-clear {
    visibility: visible;
    color: var(--button-color);
    transform: translateX(20px) rotate(90deg);
}

.clear-icon-frame {
    visibility: hidden;
    position: absolute;
    left: 0%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px 0 0 20px;
}

.searchbox-frame:focus-within .clear-icon-frame {
    visibility: visible;
    cursor: pointer;
}

.searchbox-search {
    color: #FFFFFF;
    position: absolute;
    font-size: var(--icons-size);
    right: 10px;
    top: 8px;
    transition: 0.2s linear;
}

.search-icon-frame {
    visibility: hidden;
    background-color: var(--button-color);
    position: absolute;
    right: 0%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    transition:  0.2s linear;
    transform: scale(0);
}

.searchbox-frame:focus-within .search-icon-frame {
    visibility: visible;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    transform: scale(1);
}

.searchbox {
    padding-left: 40px;
}

.searchbox-frame:hover .searchbox {
    background-color: var(--light-bg-color);
}

.searchbox-frame:focus-within .searchbox {
    background-color: var(--dark-bg-color);
    border: 4px solid var(--button-color);
    padding-left: 50px;
}


/* UPLOAD BUTTON */

.upload-image-button {
    background-color: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    min-width: 100%;
}

.upload-image-button:hover {
    background-color: var(--button-hovered-color);
}

.upload-image-button:active {
    background-color: var(--button-pressed-color);
}

.upload-image-icon {
    font-size: var(--icons-size);
    color: #FFFFFF;
    margin-right: 5px;
}


/* NAVBAR ICONS */

.nav-icons-list {
    list-style: none;
    display: inline-flex;
    margin: 0 20px 0 20px;
}

.nav-icons-list li {
    margin: 0 8px;
}

.nav-icon {
    font-size: var(--icons-size);
    color: #FFFFFF;
    top: 2px;
}

.message-icon {
    top: 4px;
}

.nav-icon:hover {
    color: var(--button-color);
}


/* NAV PROFILE/LOGIN-SIGNUP */


/* NAV PROFILE IMAGE */

.nav-profile-frame {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #000000;
}

.nav-profile-image-frame {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
}

.nav-profile-image-frame:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-profile-img:hover {
    opacity: 0.9;
}


/* NAV LOGIN/SIGNUP */

.nav-login-list {
    list-style: none;
    display: inline-flex;
    margin: 0 0 0 30px;
}

.nav-login-list li {
    margin: 0 5px;
}

.nav-login-button, .nav-signup-button {
    background-color: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    min-width: 100%;
}

.nav-signup-button {
    background-color: #FFFFFF;
}

.nav-login-button:hover {
    background-color: var(--button-hovered-color);
}

.nav-login-button:active {
    background-color: var(--button-pressed-color);
}

.login-icon, .signup-icon {
    font-size: var(--icons-size);
    color: #FFFFFF;
    margin-right: 5px;
}

.signup-icon {
    color: var(--button-color);
}


/* USER MENU */

.user-menu-frame {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    padding-top: var(--nav-height);
}

.user-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--light-bg-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}

.user-menu-item {
    list-style: none;
    padding: 5px 0 5px 0;
    border-radius: 5px;
}

.user-menu-item:hover {
    background-color: var(--button-color);
}

.user-logout-item:hover {
    background-color: #ff0000;
}

.user-menu-item a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--grey);
    padding: 0 40px 0 10px;
}

.user-menu-item:hover a {
    color: #FFFFFF;
}

.user-menu-icon {
    position: relative;
    margin-right: 10%;
    font-size: var(--small-icons-size)
}



/* ########## PROFILE FRAME ########## */

/* PROFILE FRAME */

.profile-frame {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-self: center;
    flex-basis: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 0% 12% 10px;
    box-shadow: var(--standard-shadow);
}

.profile-img-section {
    padding: 10px;
}

/* PROFILE IMAGE */

.profile-img-frame {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 130px;
    width: 130px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #000000;
}

#form-img-pic {
    width: 100%;
    height: 100%;
}

#up-img-pic {
    display: none;
}

#sub-img-pic {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #FFFFFF;
    transition: 0.2s ease-out;
}

.profile-img-frame:hover #sub-img-pic, #sub-img-pic:focus {
    top: 0%;
}

.change-prof-img-icon {
    display: flex;
}

.profile-img-frame:active .change-prof-img-icon {
    color: var(--grey);
    transform: scale(0.9);
}

/* NAME AND DESCRIPTION */

.profile-info-section {
    flex-basis: 100%;
    display: inline-flex;
    flex-direction: column;
}

.profile-name {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    color: #EEEEEE;
    margin: 20px 20px 10px;
}

.profile-desc {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #EEEEEE;
    margin: 10px 20px 20px;
}

.lvl-icon {
    font-size: var(--icons-size);
    color: #ffbb00;
    top: 2px;
    margin-left: 5px;
}

.profile-admin-icons-frame {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    flex-basis: 100%;
}



/* ########## PROFILE GALLERY FRAME ########## */

/* WHOLE SECTION */

.gallery-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}

/* SELECTORS */

.gallery-selector-frame {
    background-color: var(--dark-bg-color);
    position: sticky;
    top: 0px;
    z-index: 2;
    flex-basis: 80%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: var(--standard-shadow);
    transition: 0.2s ease-in-out;
}

.gallery-selector-frame:hover {
    opacity: 1;
}

.gallery-selector-frame-scrolled {
    flex-basis: 100%;
    border-radius: 0px;
    opacity: 0.8;
}

.gallery-selector {
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    height: 30px;
    width: 100%;
    min-width: 150px;
    margin: 5px 0px;
    border-radius: 10px;
    transition: 0.15s linear;

    font-size: var(--small-button-text-size);
    color: var(--grey);
}

.gallery-selector:hover, .gallery-selector:focus {
    background-color: var(--bg-color);
    color: #FFFFFF;
}

.gallery-selected {
    background-color: var(--light-bg-color);
    color: #FFFFFF;
}

.gallery-selector:active {
    transform: scale(0.95);
}

.gallery-selector-frame-scrolled .gallery-selector {
    height: 40px;
    font-size: 0%;
}

.gallery-selector-icon {
    color: var(--grey);
    font-size: var(--small-icons-size);
    margin-right: 5px;
    transform: translateY(-2px);
    transition: 0.15s linear;
    padding-top: 3px;
}

.gallery-selector-frame-scrolled i {
    font-size: var(--icons-size);
}

.gallery-selector:hover i, .gallery-selector:focus i, .gallery-selected i {
    color: #FFFFFF;
}

/* PUBLIC GALLERY */

.gallery-container {
    background-color: var(--dark-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 80%;
    margin: 100px 0px 100px 0px;
    border-radius: 10px;
}

.gallery-delimiter-upper, .gallery-delimiter-lower {
    flex-basis: 70%;
    border: 0.1px solid var(--light-bg-color);
    border-radius: 10px;
}

.gallery-delimiter-upper {
    margin: 6% 0px 3% 0px;
}

.gallery-delimiter-lower {
    margin: 3% 0px 6% 0px;
}

.gallery {
    flex-basis: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    padding: 0 30px 0 30px;
}

.gallery-image-frame {
    position: relative;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    min-height: 100% !important;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-image:hover {
    opacity: 0.7;
}

.gallery-image-info {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 90%;
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0 0;
    transition: 0.3s ease-out;
    transition-delay: 0.3s;
}

.gallery-image-info:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition-delay: 0.1s;
    top: 25%;
}

.gallery-image-grip {
    background-color: var(--grey);
    position: absolute;
    left: 43%;
    width: 14%;
    justify-self: center;
    margin: 5% 0 5% 0;
    border: 1.5px solid var(--grey);
    border-radius: 5px;
}

.gallery-image-title {
    font-size: 1.2em;
    flex-basis: 100%;
    text-decoration: none;
    color: #EEEEEE;
    padding-top: 10%;
    margin: 2%;
}

.gallery-image-desc {
    flex-basis: 100%;
    max-height: 50%;
    overflow: hidden;
    text-decoration: none;
    color: #EEEEEE;
    margin: 2%;
}

.gallery-image-auth {
    flex-basis: 100%;
    text-decoration: none;
    color: #EEEEEE;
    margin: 2%;
}

.gallery-image-buttons {
    font-size: var(--small-icons-size);
    color: #EEEEEE;
    margin: 2% 5%;
}

.gallery-image-counter {
    margin-top: 10%;
    margin-left: -5%;
    display: inline;
    font-size: var(--small-button-text-size);
    color: #EEEEEE;
}

.gallery-empty-button {
    grid-column-start: 1;
    grid-column-end: -1;
    color: var(--grey);
    padding: 10px;
    margin: 0% 10% 0% 10%;
    text-align: center;
    border: 1px solid var(--light-bg-color);
    transition: 0.2s linear;
}

.gallery-empty-button:hover {
    background-color: var(--light-bg-color);
    color: #FFFFFF;
    border: 1px solid var(--grey);
}

.gallery-empty-button:active {
    transform: scale(0.8);
}

.gallery-empty-text {
    grid-column-start: 1;
    grid-column-end: -1;
    color: var(--grey);
    padding: 10px;
    margin: 0% 10% 0% 10%;
    text-align: center;
    border: 1px solid var(--light-bg-color);
    transition: 0.2s linear;
}



/* ########## IMAGE PAGE ########## */

/* main image */

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.image-comment-frame {
    width: 55%;
    margin-left: 3%;
}

.image-frame {
    background-color: var(--dark-bg-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    margin: 5% 5% 1% 5%;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 2%;
}

.image {
    max-width: 95%;
    object-fit: contain;
}

.image-status-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 2% 0%;
    padding-left: 2.5%;
}

.image-button {
    margin: 0%;
}

.image-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 2.5%;
}

.image-title {
    font-size: var(--title-text-size);
    color: #FFFFFF;
    margin: 1% 0 2% 0;
    overflow: hidden;
}

.image-desc {
    font-size: var(--button-text-size);
    color: #DDDDDD;
    overflow: hidden;
}

.image-tags {
    color: #DDDDDD;
    font-size: var(--small-button-text-size);
    flex-basis: 100%;
    margin-top: 2%;
}

.image-author:hover {
    color: #FFFFFF;
}

.block-button {
    position: relative;
    margin-left: 85%;
}

.block-color {
    color: #8b0000;
}


/* suggested section */

.suggested-container {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    margin-top: 5%;
    margin-left: 5%;
}

.suggested-frame {
    background-color: var(--dark-bg-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 50%;
    margin: 0 5%;
    padding: 1%;
    border-radius: 10px;
}

.popular-suggested-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 100%;
}

.popular-suggested-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1/1 !important;
    min-width: 90%;
    border-radius: 10px;
}


/* comments section */

.input-comment-frame {
    position: relative;
    background-color: var(--dark-bg-color);
    display: inline-flex;
    flex-direction: row;
    vertical-align: middle;
    width: 90%;
    margin: 4% 0 2% 5%;
    padding: 1%;
    border-radius: 10px;
}

.input-comment {
    padding-left: 10px;
}

.input-comment:hover {
    background-color: var(--light-bg-color);
    color: #FFFFFF;
}

.input-comment:focus-within {
    background-color: var(--light-bg-color);
    color: #FFFFFF;
    padding-left: 20px;
}

.submit-comment-button {
    background-color: var(--button-color);
    padding: 0 1%;
    margin-left: 2%;
    border-radius: inherit;
}

.submit-comment-button:hover {
    background-color: var(--button-hovered-color);
}

.submit-comment-button:active {
    background-color: var(--button-pressed-color);
}

.comment-frame {
    background-color: var(--dark-bg-color);
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    width: 90%;
    margin: 0 0 5% 5%;
    padding: 1%;
    border-radius: 10px;
}

.comment-counter {
    font-size: 1.2em;
    color: #DDDDDD;
    padding-left: 2.5%;
}

.delimiter {
    margin: 2% 0 2% 0;
    border: 0.1px solid var(--light-bg-color);
    border-radius: 10px;
}

.comment {
    color: #BBBBBB;
    display: flex;
    flex-direction: column;
}

.comment:hover {
    color: #FFFFFF;
}

.comment-header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.comment-profile-image-link {
    margin: 0 3% 1% 3%;
}

.comment-header-text {
    color: inherit;
    font-size: var(--small-button-text-size);
}

.comment-profile-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.comment-text {
    color: inherit;
    font-size: var(--button-text-size);
    margin-left: 5%;
}


/* ########## 404 ########## */
.missing-frame {
    background-color: var(--dark-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    color: #DDDDDD;
    justify-self: center;
    align-self: center;
    margin: 5% 20%;
    padding: 5%;
    border-radius: 20px;
}

.missing {
    font-size: 4em;
}

.missing-desc {
    font-size: 2em;
}

.missing-home-button {
    font-size: 1.5em;
    color: #DDDDDD;
    margin-top: 10%;
    padding: 1%;
    background-color: var(--button-color);
    border-radius: 10px;
}


/* ########## SEARCH PAGE ########## */

.search-section {
    background-color: var(--dark-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    color: #DDDDDD;
    justify-self: center;
    align-self: center;
    margin: 5% 15%;
    padding: 2% 5% 5%;
    border-radius: 20px;
}

.search-delimiter {
    background-color: var(--light-bg-color);
    height: 1px;
    width: 90%;
    margin: 2% 0;
}

.search-results {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.search-results-frame {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.profile-search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 2% 0;
}

.profile-search-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.image-search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 2% 0;
}

.image-search-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1/1 !important;
    min-width: 100%;
    border-radius: 10px;
}


/* ########## HELP PAGE ########## */

.help-section {
    background-color: var(--dark-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    color: #DDDDDD;
    justify-self: center;
    align-self: center;
    margin: 5% 15%;
    padding: 2% 5% 5%;
    border-radius: 20px;
}

.help-delimiter {
    background-color: var(--light-bg-color);
    height: 1px;
    width: 90%;
    margin: 2% 0;
}


/* ########## LOGIN/SIGNUP PAGE ########## */

.section-login-signup {
    background-color: var(--dark-bg-color);
    color: #FFFFFF;
    margin: 5% 30% 0 30%;
    padding: 1% 3% 3%;
    border: 5px solid var(--header-bg-color);
    border-radius: 20px;
}

.login-signup-logo {
    font-size: 2em;
    transition: 0.2s linear;
}

.login-signup-logo:hover {
    color: var(--button-hovered-color);
}

.multi-function-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}

.input-form {
    margin: 2%;
    padding-left: 15px;
    border-radius: 20px;
}

.input-form:hover {
    background-color: var(--light-bg-color);
    color: #FFFFFF;
}

.input-form:focus-within {
    background-color: var(--light-bg-color);
    color: #FFFFFF;
    padding-left: 25px;
}

.form-button {
    background-color: var(--light-bg-color);
    padding: 2%;
    margin: 2% 0;
    border-radius: 20px;
}

.form-button:hover {
    background-color: var(--button-color);
}

.form-button:active {
    background-color: var(--button-pressed-color);
}

.login-signup-disclaimer {
    margin-top: 5%;
}


/* ########## UPLOAD PAGE ########## */

.upload_to_gallery {
    background-color: var(--dark-bg-color);
    color: #FFFFFF;
    margin: 5% 30% 0 30%;
    padding: 1% 3% 3%;
    border: 5px solid var(--header-bg-color);
    border-radius: 20px;
}



/* ########## HIGHER PRIORITY ########## */

.hidden {
    display: none;
}